header {
  margin: 10px;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

main {
  margin: 10px;
  display: flex;
}

.inputSection {
  width: 50vw;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.displaySection {
  width: 50vw;
}
