.educationDisplayContainer {
  grid-column: 2 / 4;
  padding-top: 10px;
  border-bottom: 1px dashed black;
}

.educationEntryDisplay {
  margin-bottom: 10px;
}

.educationTitle {
  padding-bottom: 5px;
}
