.educationDisplayContainer {
  grid-column: 2 / 4;
  padding-top: 10px;
  border-bottom: 1px dashed black;
}

.educationEntryDisplay {
  margin-bottom: 10px;
}

.educationTitle {
  padding-bottom: 5px;
}

.educationEntryHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  background-color: inherit;
  border: none;
  padding: 0;
  font-size: inherit;
  width: 100%;
}

.educationEntryTitle {
  flex: 1;
  text-align: left;
  align-items: center;
}

.educationEntryDate {
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
}
