/* @keyframes up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes down {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

@media print {
  .displaySectionContainer {
    height: 100vh !important;
    size-adjust: 100% !important;
    font-size: large !important;
  }

  .displaySectionContainer img {
    height: 1.5vh !important;
  }

  .displayName {
    font-size: 4vh !important;
  }
  .displayTitle {
    font-size: 2.5vh !important;
  }
}

main {
  padding: 10px;
  display: flex;
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50vw;
  padding: 50px;
}

.displaySection {
  width: 50vw;
  color: black;
  padding: 50px;
}

.displaySectionContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  font-size: 0.68vw;
  aspect-ratio: 210 / 297;
  color: black;
  background-color: white;
  padding: 7%;
}

.formContainer {
  min-width: fit-content;
  border: 2px solid #505e79;
  border-radius: 4px;
  padding: 10px;
}

.formTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  background-color: inherit;
  border: none;
  padding: 0;
  font-size: inherit;
  width: 100%;
}

.entryTitle {
  flex: 1;
  text-align: left;
  align-items: center;
}

.entryDate {
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  color: #fffcf8ff;
  background-color: #20304a;
  padding: 4px;
  border: 1px solid #505e79;
  border-radius: 4px;
  resize: vertical;
}

input:hover {
  background-color: #505e79;
  cursor: text;
}

.inputForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-top: 10px;
}

.inputForm.show {
  display: grid;
}

.inputContainer {
  display: grid;
  gap: 10px;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.present {
  display: flex;
  align-self: flex-end;
  gap: 5px;
  padding-left: 10px;
}

#date {
  width: 20vw;
}

#description,
#profile {
  min-height: 100px;
}

.entryInputContainer {
  display: grid;
  padding: 10px;
  border: 1px solid #505e79;
  border-radius: 4px;
}

.entryHeading {
  display: flex;
  justify-content: space-between;
}

.entryDate {
  text-wrap: nowrap;
}

.inputFooter {
  display: flex;
  position: relative;
  /* justify-content: space-between; */
}

.sectionHeader {
  display: flex;
  gap: 5px;
}

.itemInput {
  display: flex;
  position: relative;
  gap: 10px;
}

.hide {
  display: none;
}

.arrow {
  height: fit-content;
}

.trash {
  justify-self: end;
  align-self: flex-end;
  margin-left: auto;
}

.dropdownContent {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #20304a;
  min-width: max-content;
  border: solid 1px #505e79;
  border-radius: 5px;
  padding: 5px;
}

.dropdownContent.show {
  display: block;
}

.options {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 5px;
}

.yesNo {
  background-color: #e0d9e0;
  border: none;
  border-radius: 2px;
}

.addNewEntry {
  display: flex;
  align-items: center;
  gap: 5px;
  color: inherit;
  background-color: inherit;
  border: none;
  font-size: inherit;
  width: fit-content;
}

.addNewEntry:hover,
.formTitle:hover {
  cursor: pointer;
}

.listItem {
  list-style: square inside;
  padding-left: 5px;
}

/* .up {
  animation-name: up;
  animation-duration: 100ms;
}

.down {
  animation-name: down;
  animation-duration: 100ms;
} */
