main {
  padding: 10px;
  display: flex;
}

.inputSection {
  display: grid;
  gap: 30px;
  width: 50vw;
  padding: 50px;
}

.displaySection {
  width: 50vw;
  color: black;
  padding: 50px;
}

.displaySectionContainer {
  display: grid;
  font-size: 0.8vw;
  aspect-ratio: 8.5 / 11;
  background-color: white;
  padding: 7%;
}

.formContainer {
  border: 2px solid #505e79;
  border-radius: 4px;
  padding: 10px;
}

.formTitle {
  display: flex;
  color: inherit;
  background-color: inherit;
  border: none;
  padding: 0;
  padding-bottom: 15px;
  font-size: inherit;
  width: 100%;
}

input {
  color: #fffcf8ff;
  background-color: #20304a;
  padding: 4px;
  border: 1px solid #505e79;
  border-radius: 4px;
}

input:hover {
  background-color: #505e79;
}

.inputForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.inputLabel {
  display: flex;
  flex-direction: column;
}

.entryInputContainer {
  display: grid;
  gap: 15px;
  padding: 10px;
  border: 1px solid #505e79;
  border-radius: 4px;
  background-color: rgb(250, 235, 215) white;
}

.dateInputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.entryHeading {
  display: flex;
  justify-content: space-between;
}

.entryDate {
  text-wrap: nowrap;
}
