.nameTitleDisplayContainer {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin-bottom: 10px;
}

.sidebarDisplayContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 11;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  background-color: rgba(211, 211, 211, 0.322);
}

.displayName {
  justify-self: right;
  font-size: 2.5vw;
  font-weight: bold;
}

.displayTitle {
  justify-self: right;
  font-size: 1.3vw;
}

.displayContact {
  display: grid;
  gap: 3px;
  padding-bottom: 20px;
}

.displayContactEntry {
  display: flex;
}

.logo {
  height: 1vw;
  padding-right: 5px;
}

.extraEntryDisplay {
  border-top: 1px dashed black;
  padding-top: 10px;
  padding-bottom: 10px;
}
