.workDisplayContainer {
  grid-column: 2 / 4;
  padding-top: 10px;
  padding-bottom: 10px;
}

.workEntryDisplay {
  margin-bottom: 10px;
}

.experienceTitle {
  padding-bottom: 5px;
}

.workEntryHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  background-color: inherit;
  border: none;
  padding: 0;
  font-size: inherit;
  width: 100%;
}

.workEntryTitle {
  flex: 1;
  text-align: left;
  align-items: center;
}

.workEntryDate {
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
}
